<template>
  <div class="project-item">
    <h3 class="title">{{ title }}</h3>
    <p class="descr">{{ descr }}</p>
    <a v-if="link" class="link" :href="link" target="_blank">
      Repository <i class="el-icon-caret-right"></i>
    </a>
  </div>
</template>

<script>
export default {
  name: "ProjectItem",
  props: {
    title: {
      type: String,
      default: null
    },
    descr: {
      type: String,
      default: null
    },
    link: {
      type: String,
      default: null
    }
  }
};
</script>

<style lang="scss" scoped>
.project-item {
  width: 50%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "title link"
    "descr .";
  grid-gap: 1rem;
  align-items: center;
  padding: 0 2.5rem;

  border-right: 3px solid $--color-dark-gray;
  border-left: 3px solid $--color-dark-gray;

  .title {
    grid-area: title;
    margin: 0;
  }
  .descr {
    grid-area: descr;
    margin: 0;
  }

  .link {
    grid-area: link;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
  }

  @media (max-width: $--sm) {
    // border: none;
    font-size: 0.754rem;
    grid-template-areas:
      "title ."
      "link ."
      "descr descr";
  }
}
</style>
