<template>
  <div class="projects-wrapper">
    <el-row
      v-for="p in projects"
      :key="p.title"
      type="flex"
      justify="center"
      class="projects-wrapper"
    >
      <el-col :lg="20">
        <project-item :title="p.title" :descr="p.descr" :link="p.link" />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import ProjectItem from "@/components/Projects/ProjectItem";
export default {
  components: {
    ProjectItem
  },
  data() {
    return {
      projects: [
        {
          title: "Petdate",
          descr: `Full-Stack Development of a Pet Care Platform`,
          link: "https://gitlab.com/jankrloz/petdate"
        },
        {
          title: "Deli & Go",
          descr: `Front-End Development of a healthy food delivery platform`,
          link: "https://gitlab.com/jankrloz/deliandgo"
        },
        {
          title: "IMGX",
          descr: `Multi-tool for image analysis and preparation for pattern recognition`,
          link: "https://gitlab.com/jankrloz/imgx"
        },
        {
          title: "Karussa",
          descr: `Front-End Development of Yoga Online Courses Platform`,
          link: "https://gitlab.com/jankrloz/karussa"
        },
        {
          title: "El Cedro Middleware",
          descr: `Middleware server for integration between Shopify and ERP for "El Cedro"
                  shop Worked with Balam`
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.projects-wrapper {
  width: 100%;
  color: $--color-white;
}
</style>
