<template>
  <div
    :class="['item', place]"
    data-aos="fade"
    data-aos-delay="500"
    ref="item"
    @click="handleTextVisible"
  >
    <div
      class="item-icon"
      @mouseover="handleTextVisible($event, true)"
      @mouseout="handleTextVisible($event, false)"
    >
      <img :src="imageSrc" />
    </div>
    <div class="item-title">
      <p>
        <slot name="title"></slot>
      </p>
    </div>
    <div class="item-text">
      <p>
        <slot name="text"></slot>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "AboutItem",
  props: {
    imageSrc: String,
    place: {
      type: String,
      validator: function(value) {
        return ["left", "right"].includes(value);
      }
    }
  },
  methods: {
    handleTextVisible($event, visible = null) {
      if (visible === null) {
        this.$refs.item.classList.toggle("text-visible");
      } else {
        this.$refs.item.classList.toggle("text-visible", visible);
      }
    }
  }
};
</script>

<style scoped lang="scss">
$item-icon-width: 8rem;
.item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr $item-icon-width 1fr;
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  cursor: pointer;

  .item-icon {
    width: $item-icon-width;
    grid-area: icon;
    transition: all 0.25s ease;

    img {
      width: 100%;
      transition: all 0.25s ease;
      filter: $--drop-shadow;
    }
  }
  .item-title {
    grid-area: title;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 0.25s ease;
  }

  .item-text {
    position: relative;
    opacity: 0;
    grid-area: text;
    transition: all 0.25s ease 0.125s;
  }

  @media (min-width: $--md) {
    &.text-visible {
      .item-icon {
        img {
          filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
        }
      }

      .item-text {
        opacity: 1;
      }

      &.left {
        .item-title {
          transform: translateX(-0.5rem);
        }
        .item-text {
          left: 0 !important;
        }
      }
      &.right {
        .item-title {
          transform: translateX(0.5rem);
        }
        .item-text {
          right: 0 !important;
        }
      }
    }
  }

  &.left {
    grid-template-areas: "title icon text";

    .item-title {
      justify-self: end;
      text-align: right;
    }

    .item-text {
      left: -1rem;
      text-align: left;
    }
  }
  &.right {
    grid-template-areas: "text icon title";

    .item-title {
      justify-self: start;
    }

    .item-text {
      right: -1rem;
      text-align: right;
    }
  }

  @media (max-width: $--sm) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    grid-gap: 1rem;
    grid-template-areas:
      "title"
      "icon"
      "text" !important;
    justify-content: center;

    .item-title {
      justify-self: center !important;
      -ms-text-align-last: right;
      text-align: center !important;
    }

    .item-text {
      display: none;
    }
  }
}
</style>
