<template>
  <div id="about-me-container">
    <div class="container-header">
      <h1 class="title">About me</h1>
      <div class="path-start hidden-sm-and-down" data-aos="fade"></div>
    </div>
    <el-row type="flex" justify="center">
      <el-col :sm="20" :lg="18">
        <div class="content" data-aos="fade" data-aos-offset="50">
          <about-item
            :image-src="require('../../assets/img/005-pc.png')"
            place="left"
          >
            <template v-slot:title>
              <p>Programmer<br />since a boy</p>
            </template>
            <template v-slot:text>
              <p>
                When I was 8, I had my first computer, so I spent my time trying
                to understand the awful Windows 95, and I decided to study a
                computer-related career. When I was 14, I met C language, and I
                did my first "Hello World" in Turbo C++.
              </p>
            </template>
          </about-item>
          <about-item
            :image-src="require('../../assets/img/006-processor.png')"
            place="right"
          >
            <template v-slot:title>
              <p>Passionate for<br />new technologies</p>
            </template>
            <template v-slot:text>
              <p>
                From always getting the latest software versions, testing, break
                them, to read about tendencies in development, seeking for most
                productive and easy to use solutions, alternatives to be a
                powerful developer, is a must for me.
              </p>
            </template>
          </about-item>
          <about-item
            :image-src="require('../../assets/img/004-telescope.png')"
            place="left"
          >
            <template v-slot:title>
              <p>Lifelong<br />learning</p>
            </template>
            <template v-slot:text>
              <p>
                Unlike the Laplace's Demon, humans are in constant discovery of
                knowledge, we are capable to share this learning and have the
                responsibility to do it.
              </p>
            </template>
          </about-item>
          <about-item
            :image-src="require('../../assets/img/002-glasses.png')"
            place="right"
          >
            <template v-slot:title>
              <p>Focused<br />on details</p>
            </template>
            <template v-slot:text>
              <p>
                Every human activity is improvable, searching for opportunity
                areas to profit them, including the smallest parts, to give a
                better solution.
              </p>
            </template>
          </about-item>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import AboutItem from "./AboutItem";
export default {
  name: "AboutSection",
  components: { AboutItem }
};
</script>

<style scoped lang="scss">
$path-start-size: 3rem;

#about-me-container {
  position: relative;
  z-index: 1;
  box-shadow: $--box-shadow-2;
  padding: 4rem 0;
  .container-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      text-align: center;
      font-size: 2rem;
      padding-bottom: 2rem;
    }

    .path-start {
      position: absolute;
      bottom: -$path-start-size / 2;
      width: $path-start-size;
      height: $path-start-size;
      border-radius: 50%;
      background-color: lighten($--color-primary, 5);
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        content: " ";
        box-sizing: content-box;
        position: absolute;
        width: $path-start-size / 2;
        height: $path-start-size / 2;
        border-radius: 50%;
        background-color: $--color-primary;
      }
    }
  }
  .content {
    position: relative;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);

    @media (min-width: $--md) {
      padding: 4rem 0;
      &:before {
        content: "";
        background: $--border-color-base;
        width: 0.5rem;
        height: 95%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
</style>
