<template>
  <div id="about-me-container">
    <el-row type="flex" justify="center">
      <el-col :sm="20" :lg="16" :xl="12">
        <el-row>
          <el-col :span="24">
            <h1 class="title">About me:</h1>
            <u-animate-container>
              <u-animate name="fadeIn" :offset="300">
                <separator :anim="true"></separator>
              </u-animate>
            </u-animate-container>
          </el-col>
        </el-row>
        <u-animate-container>
          <u-animate name="fadeIn" :offset="300" delay="0.25s">
            <el-row id="about-me" align="middle" justify="space-around">
              <el-col :sm="8" class="col-about-me-item">
                <img src="../../assets/img/005-pc.png" alt="programmer" />
                <p>
                  Programmer since a boy
                </p>
              </el-col>
              <el-col :sm="8" class="col-about-me-item">
                <img src="../../assets/img/006-processor.png" alt="learning" />
                <p>
                  Passionate for new technologies
                </p>
              </el-col>
              <el-col :sm="8" class="col-about-me-item">
                <img src="../../assets/img/004-telescope.png" alt="" />
                <p>
                  Lifelong learning
                </p>
              </el-col>
            </el-row>
          </u-animate>
        </u-animate-container>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: "AboutMe"
};
</script>

<style scoped lang="scss">
#about-me-container {
  width: 100%;
  box-shadow: $--box-shadow-2;
  padding-bottom: 4rem;

  .title {
    margin: 10% 0 3rem 0;
    text-align: center;
  }

  #about-me {
    padding: 1rem 0;

    .col-about-me-item {
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      img {
        width: 100px;
      }
    }
  }
}
</style>
