<template>
  <div id="about-me-container">
    <div class="container-header">
      <h1 class="title">About me</h1>
      <el-button
        icon="el-icon-arrow-down"
        circle
        v-scroll-to="'#about-me-container'"
      ></el-button>
    </div>
    <section class="container-body">
      <div class="grid" ref="main-grid">
        <div class="cell cell-1" @click="handleCellClick">
          <div class="cell-title">
            <p>Programmer<br />since a boy</p>
            <u>Show more ></u>
          </div>
          <img
            class="cell-icon"
            src="../../assets/img/005-pc.png"
            alt="laptop"
          />
          <div class="cell-overlay left">
            <span class="cell-descr">
              When I was 8, I had my first computer, without internet yet, so I
              spent my time trying to understand the awful Windows 95, and I
              decided to study a computer-related career, later, when I was 14,
              I met C language, and I did my first "Hello World" in Turbo C++.
            </span>
          </div>
        </div>
        <div class="cell cell-2" @click="handleCellClick">
          <div class="cell-title">
            <p>Passionate for<br />new technologies</p>
            <u>Show more ></u>
          </div>
          <img
            class="cell-icon"
            src="../../assets/img/006-processor.png"
            alt="learning"
          />
          <div class="cell-overlay right">
            <span class="cell-descr">
              From always getting the latest software versions, testing, break
              them, to read about tendencies in development, seeking for most
              productive and easy to use solutions, alternatives to be a
              powerful developer, is a must for me.
            </span>
          </div>
        </div>
        <div class="cell cell-3" @click="handleCellClick">
          <div class="cell-title">
            <p>Lifelong<br />learning</p>
            <u>Show more ></u>
          </div>
          <img
            class="cell-icon"
            src="../../assets/img/004-telescope.png"
            alt="learning"
          />
          <div class="cell-overlay left">
            <span class="cell-descr">
              Unlike the Laplace's Demon, humans are in constant discovery of
              knowledge, we are capable to share this learning and have the
              responsibility to do it.
            </span>
          </div>
        </div>
        <div class="cell cell-4" @click="handleCellClick">
          <div class="cell-title">
            <p>Focused<br />on details</p>
            <u>Show more ></u>
          </div>
          <img
            class="cell-icon"
            src="../../assets/img/002-glasses.png"
            alt="learning"
          />
          <div class="cell-overlay right">
            <span class="cell-descr">
              Every human activity is improvable, searching for opportunity
              areas to profit them, and give a better solution, so be the
              smallest details.
            </span>
          </div>
        </div>
      </div>
      <el-row type="flex" justify="center">
        <el-col :md="16" :lg="8">
          <blockquote class="blockquote">
            <p>
              Once you stop learning, you start dying.
            </p>
            <i> - Albert Einstein</i>
          </blockquote>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
export default {
  name: "AboutMe",
  data() {
    return {
      showOverlay: false
    };
  },
  methods: {
    handleCellClick(e) {
      e.currentTarget.querySelector(".cell-overlay").classList.toggle("show");
    }
  }
};
</script>

<style scoped lang="scss">
#about-me-container {
  padding-top: 2rem;
  box-shadow: $--box-shadow-2;
  z-index: 1;
  position: relative;

  .container-header {
    padding: 2rem 0;
    text-align: center;

    .title {
      margin: 0 0 1rem;
    }
  }

  .container-body {
    .grid {
      display: grid;
      grid-template: repeat(2, 400px) / 1fr 1fr;

      @media (max-width: $--sm) {
        grid-template: repeat(4, auto) / 1fr;
        grid-gap: 4rem;
      }

      .cell {
        display: grid;
        position: relative;
        grid-template: 1fr / 1fr 2fr;
        grid-template-areas: "icon title";
        transition: all 0.5s $--bezier;
        cursor: pointer;

        .cell-icon {
          grid-area: icon;
          align-self: center;
          justify-self: center;
          max-width: 8rem;
          object-fit: contain;
          padding: 1rem;
        }
        .cell-title {
          grid-area: title;
          align-self: center;
          font-size: 2rem;
          font-weight: 800;
          padding: 1rem;
          p {
            margin: 0;
          }

          u {
            font-size: 0.8rem;
            position: absolute;
            margin-top: 1rem;
            opacity: 0;
            transition: opacity 0.5s $--bezier;

            @media (max-width: $--sm) {
              position: relative;
              opacity: 1;
            }
          }
        }
        .cell-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          color: $--color-text-primary;
          display: flex;
          align-items: center;
          justify-items: center;
          transition: all 0.5s $--bezier;

          &.left {
            left: -100%;
          }
          &.right {
            right: -100%;
          }

          .cell-descr {
            padding: 20%;
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 500;
          }

          &.show {
            opacity: 0.975;

            &.left {
              transform: translateX(100%);
            }
            &.right {
              transform: translateX(-100%);
            }
          }
        }

        &:hover {
          box-shadow: $--box-shadow-3;

          .cell-title {
            u {
              opacity: 1;
            }
          }
        }

        &.cell-1 > .cell-overlay {
          background-color: #99edcc;
        }
        &.cell-2 > .cell-overlay {
          background-color: #f0668b;
        }
        &.cell-3 > .cell-overlay {
          background-color: #f4df7f;
        }
        &.cell-4 > .cell-overlay {
          background-color: #8cade1;
        }

        @media (max-width: $--sm) {
          grid-template: repeat(2, auto) / 1fr;
          grid-template-areas:
            "icon"
            "title";

          .cell-title {
            text-align: center;
            font-size: 1.5rem;
          }

          .cell-overlay {
            .cell-descr {
              padding: 10%;
              font-size: 1rem;
              line-height: 1.2rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.blockquote {
  padding: 4rem 0;
  margin: 0 auto;
  position: relative;
  text-align: center;

  p {
    font-size: 35px;
    font-weight: 300;
  }

  &:before {
    background: url(../../assets/img/quote-left.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 4rem;
    left: 10px;
    content: "";
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }

  &::after {
    content: "";
    top: 4rem;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid $--color-primary;
    height: 3px;
    width: 200px;
  }
}
</style>
