<template>
  <div>
    <div
      class="skill-item"
      @click="dialogVisible = true"
      @mouseover="percentageData = 100"
      @mouseleave="percentageData = percentage"
    >
      <el-progress
        type="circle"
        :percentage="percentageData"
        status="text"
        :stroke-width="8"
        :width="150"
      >
        <span class="item-text">
          {{ name }}
        </span>
      </el-progress>
    </div>
    <el-dialog
      :title="name"
      :visible.sync="dialogVisible"
      width="95%"
      :center="true"
    >
      <div class="grid">
        <div class="item" v-for="image in images" :key="image.title">
          <img :src="image.src" alt="" />
          <p>{{ image.title }}</p>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "SingleSkill",
  data() {
    return {
      dialogVisible: false,
      percentageData: this.percentage,
      window: {
        width: 0,
        height: 0
      }
    };
  },
  props: {
    name: String,
    percentage: Number,
    images: Array
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    }
  }
};
</script>

<style scoped lang="scss">
.skill-item {
  position: relative;
  cursor: pointer;

  .el-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &:before {
      pointer-events: none;
      position: absolute;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: "";
      box-sizing: content-box;
      background-color: #20a0ff;
      transition: all 0.5s $--bezier;
      z-index: -1;
      box-shadow: $--box-shadow-1;
    }

    .item-text {
      font-size: 0.75rem !important;
      font-weight: 700 !important;
      text-transform: uppercase !important;
      color: $--border-color-lighter;
      transition: all 0.5s $--bezier;
      border-bottom: 3px solid transparent;
    }

    .el-progress-circle__track {
      transition: all 0.5s $--bezier;
    }
  }

  @media (min-width: $--lg) {
    &:hover,
    &:focus,
    &:active {
      .el-progress:before {
        transform: scale(1.5);
        opacity: 0.6;

        .el-progress-circle__track {
          stroke: #20a0ff;
        }
      }

      .item-text {
        color: $--color-text-regular;
        border-bottom-color: $--color-text-regular;
      }
    }
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 8rem;
  grid-gap: 40px;
  align-items: end;
  padding: 0.5rem;

  @media (max-width: $--sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    justify-self: center;
    text-align: center;
    display: grid;
    grid-template-rows: 6rem 2rem;
    align-items: center;

    img {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    p {
      text-transform: uppercase;
      font-size: 0.6rem;
      font-weight: 600;
    }
  }
}

.el-dialog__title {
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}
</style>
