<template>
  <div id="techs-used">
    <h2 class="title">
      Made with
      <img src="../../assets/img/blue-heart.png" alt="heart" /> and:
    </h2>
    <el-row type="flex" justify="center">
      <el-col :lg="20" :xl="18">
        <div id="techs-container">
          <img
            v-for="tech in techs"
            :key="tech"
            :src="`/img/tecnologias/${tech}`"
            :alt="tech"
          />
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: "SiteTechsUsed",
  data() {
    return {
      techs: ["node.png", "vue.png", "webpack.png", "sass.png", "element.svg"]
    };
  }
};
</script>

<style scoped lang="scss">
#techs-used {
  text-align: center;
  margin-top: 40px;

  .title {
    font-weight: 600;

    img {
      vertical-align: text-bottom;
    }
  }
  #techs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img {
      height: 4rem;
      margin: 20px;
    }
  }
}
</style>
