<template>
  <div id="skills-container">
    <div class="container-header">
      <h1 class="title">
        Skills
      </h1>
    </div>
    <transition name="fade">
      <div id="bg-container" v-show="showBgImages">
        <figure :key="img" v-for="img in images">
          <img :src="img" class="" :alt="img" />
        </figure>
      </div>
    </transition>
    <div class="content">
      <div class="skills-menu">
        <div
          v-for="skill in skills"
          :key="skill.index"
          class="item-menu"
          @click="handleChangeCarousel(skill.index)"
          :class="{ active: activeCarouselItemIndex === skill.index }"
        >
          <span>{{ skill.title }}</span>
        </div>
      </div>
      <el-carousel
        type="card"
        height="350px"
        id="skills-carousel"
        indicator-position="none"
        :autoplay="false"
        :initial-index="activeCarouselItemIndex"
        @change="handleChangeCarousel"
        ref="carousel"
      >
        <el-carousel-item
          v-for="skill in skills"
          :key="skill.title"
          :name="skill.title"
          :class="skill.title"
        >
          <skill-content :skill="skill"></skill-content>
        </el-carousel-item>
      </el-carousel>
    </div>
  </div>
</template>

<script>
import SkillContent from "./SkillContent";
const shuffle = require("lodash.shuffle");

export default {
  name: "SkillsSection",
  components: {
    SkillContent
  },
  data() {
    return {
      images: [],
      showBgImages: true,
      activeCarouselItemIndex: 0,
      skills: {
        backend: {
          title: "backend",
          index: 0
        },
        frontend: {
          title: "frontend",
          index: 1
        },
        devops: {
          title: "devops",
          index: 2
        }
      }
    };
  },
  mounted() {
    this.importAll(require.context("../../public/img/techs", false, /\.png$/));
    setInterval(() => {
      this.showBgImages = false;
    }, 4000);
  },
  watch: {
    showBgImages(newValue) {
      if (!newValue) {
        setTimeout(() => {
          this.images = shuffle(this.images);
          this.showBgImages = true;
        }, 250);
      }
    }
  },
  methods: {
    importAll(r) {
      let imgs = {};
      r.keys().forEach(key => {
        imgs[key] = r(key);
      });
      this.images = shuffle(imgs);
    },
    handleChangeCarousel(newIndex) {
      this.activeCarouselItemIndex = newIndex;
      this.$refs.carousel.setActiveItem(newIndex);
    }
  }
};
</script>

<style lang="scss">
#skills-container {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  background-color: $--border-color-lighter;

  .container-header {
    .title {
      text-align: center;
    }
  }

  #bg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    top: 0;
    transition: opacity 0.5s ease;

    figure {
      flex-grow: 1;
      opacity: 0.05;

      img {
        max-width: 8rem;
        max-height: 4.5rem;
      }
    }
  }

  .content {
    .skills-menu {
      display: flex;
      width: 50%;
      margin: 0 auto;
      justify-content: space-around;
      padding: 2rem 0;

      .item-menu {
        transition: all 0.5s ease;
        cursor: pointer;

        span {
          position: relative;
          font-size: 0.8rem;
          text-transform: uppercase;
          text-shadow: none;
          font-weight: 600;
          transition: all 0.5s ease;
          padding: 0.25rem;

          &::before,
          &::after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: $--color-primary;
            content: "";
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
            transform: translateY(-10px);
          }

          &::before {
            top: 0;
            transform: translateY(-5px);
          }
          &::after {
            bottom: 0;
            transform: translateY(5px);
          }
        }
        &.active {
          span {
            font-weight: 800;
            &::before,
            &::after {
              opacity: 1;
              transform: translateY(0px);
            }
          }
        }

        &:not(.active) {
          &:hover,
          &:focus,
          &:active {
            span {
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    #skills-carousel {
      .el-carousel__item {
        transition: all 0.5s ease;
        box-shadow: $--box-shadow-2;
        opacity: 0;
        height: calc(100% - 20px);
        background-color: $--background-color-base;
        /*border: 2px solid transparent;*/
        border-radius: 16px;

        &.is-active {
          opacity: 1;
        }

        /*&.backend {*/
        /*  border-color: #493ffc;*/
        /*}*/
        /*&.frontend {*/
        /*  border-color: #fc264c;*/
        /*}*/
        /*&.devops {*/
        /*  border-color: #37fc7f;*/
        /*}*/
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
