<template>
  <div class="container">
    <backend-skill v-if="skill.title === 'backend'"></backend-skill>
    <frontend-skill v-if="skill.title === 'frontend'"></frontend-skill>
  </div>
</template>

<script>
import BackendSkill from "../Skills/BackendSkill";
import FrontendSkill from "../Skills/FrontendSkill";
export default {
  name: "SkillContent",
  components: {
    BackendSkill,
    FrontendSkill
  },
  props: {
    skill: Object
  }
};
</script>

<style scoped lang="scss">
.container {
  height: 100%;

  /deep/ #skill-content {
    height: 100%;
    /*color: $--border-color-extra-light;*/
    display: grid;
    grid-template-rows: auto 1fr;

    .head {
      text-align: center;
      font-size: 0.7rem;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }

    .content {
      display: grid;
      align-content: center;
      padding: 0 2rem;

      section {
        display: grid;
        grid-template-columns: minmax(140px, 30%) 1fr;
        justify-content: space-between;
        align-items: start;
        padding: 1rem 0;
        font-size: 0.85rem;
        font-weight: 500;

        .title {
          text-align: right;
          padding-right: 2rem;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }
}
</style>
