<template>
  <div id="skills-container">
    <div id="bg-container">
      <figure :key="img" v-for="img in images">
        <img :src="img" class="" :alt="img" />
      </figure>
    </div>
    <div class="content-wrapper">
      <el-row>
        <el-col>
          <h1 class="title">Skills:</h1>
        </el-col>
      </el-row>
      <el-row type="flex" justify="center" :gutter="20">
        <el-col :md="20" :lg="16" :xl="12">
          <div class="skillbars-container">
            <div class="skillbar frontend">
              <span class="skill-name">Backend</span>
              <el-progress
                :show-text="false"
                :stroke-width="skillbarHeight"
                :percentage="90"
              ></el-progress>
            </div>
            <div class="skillbar backend">
              <span class="skill-name">Frontend</span>
              <el-progress
                :show-text="false"
                :stroke-width="skillbarHeight"
                :percentage="100"
              ></el-progress>
            </div>
            <div class="skillbar devops">
              <span class="skill-name">Devops</span>
              <el-progress
                :show-text="false"
                :stroke-width="skillbarHeight"
                :percentage="60"
              ></el-progress>
            </div>
            <div class="skillbar design">
              <span class="skill-name">Design</span>
              <el-progress
                :show-text="false"
                :stroke-width="skillbarHeight"
                :percentage="50"
              ></el-progress>
            </div>
            <single-skill
              v-for="skill in skills"
              :key="skill.name"
              :name="skill.name"
              :skillbarHeight="skill.skillbarHeight"
              :percentage="skill.percentage"
              :images="skill.images"
            ></single-skill>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import SingleSkill from "@/components/Skills/SingleSkill";

const shuffle = require("lodash.shuffle");
export default {
  name: "Techs",
  components: {
    SingleSkill
  },
  data() {
    return {
      images: [],
      skillbarHeight: 40
    };
  },
  computed: {
    skills() {
      return [
        {
          name: "Backend",
          skillbarHeight: 40,
          percentage: 90,
          images: [
            {
              src: this.images.filter(s => s.includes("django")),
              title: "django"
            },
            {
              src: this.images.filter(s => s.includes("express")),
              title: "express"
            },
            {
              src: this.images.filter(s => s.includes("google")),
              title: "google api"
            },
            {
              src: this.images.filter(s => s.includes("elasticsearch")),
              title: "elasticsearch"
            },
            {
              src: this.images.filter(s => s.includes("linux")),
              title: "linux"
            },
            {
              src: this.images.filter(s => s.includes("mongodb")),
              title: "mongodb"
            },
            {
              src: this.images.filter(s => s.includes("laravel")),
              title: "laravel"
            },
            {
              src: this.images.filter(s => s.includes("mysql")),
              title: "mysql"
            },
            {
              src: this.images.filter(s => s.includes("postgresql")),
              title: "postgresql"
            },
            {
              src: this.images.filter(s => s.includes("s3")),
              title: "s3"
            }
          ]
        }
      ];
    }
  },
  mounted() {
    this.importAll(require.context("../../public/img/techs", false, /\.png$/));
  },
  methods: {
    importAll(r) {
      let imgs = {};
      r.keys().forEach(key => {
        imgs[key] = r(key);
      });
      this.images = shuffle(imgs);
      console.log(this.images);
    }
  }
};
</script>

<style lang="scss">
#skills-container {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  background-color: $--border-color-lighter;

  #bg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    top: 0;

    figure {
      flex-grow: 1;
      opacity: 0.05;

      img {
        max-width: 150px;
        max-height: 100px;
      }
    }
  }

  .content-wrapper {
    padding: 0 20px;

    .title {
      text-align: center;
    }

    .skillbars-container {
      display: grid;
      grid-template-columns: auto;

      .skillbar {
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: center;
        padding: 0.5rem 0;

        .skill-name {
          text-transform: uppercase;
          text-align: right;
          font-weight: 700;
          padding-right: 2rem;

          @media (max-width: $--sm) {
            font-size: 0.8rem;
            padding-right: 1rem;
          }
        }

        .el-progress {
          .el-progress-bar__outer {
            background-color: transparent !important;

            .el-progress-bar__inner {
              box-shadow: $--box-shadow-2;
              height: 85%;
            }
          }
        }

        &.backend .el-progress-bar__inner {
          background-color: #af1b3f;
        }
        &.frontend .el-progress-bar__inner {
          background-color: #50d8d7;
        }
        &.devops .el-progress-bar__inner {
          background-color: #2660a4;
        }
        &.design .el-progress-bar__inner {
          background-color: #ffa630;
        }
      }
    }
  }
}
</style>
