<template>
  <div id="skills-container">
    <h1>SKILLS</h1>
    <div id="bg-container">
      <figure :key="img" v-for="img in images">
        <img :src="img" class="" :alt="img" />
      </figure>
    </div>
    <div class="skills-grid">
      <single-skill
        v-for="skill in skillsData"
        :key="skill.name"
        :name="skill.name"
        :percentage="skill.percentage"
        :images="skill.images"
      ></single-skill>
    </div>
  </div>
</template>

<script>
import SingleSkill from "@/components/Skills/SingleSkill";

const shuffle = require("lodash.shuffle");
export default {
  name: "Skills",
  components: {
    SingleSkill
  },
  data() {
    return {
      images: [],
      skillbarHeight: 40,
      skills: {
        backend: [
          "django",
          "laravel",
          "express",
          "google",
          "elasticsearch",
          "linux",
          "mysql",
          "postgresql",
          "mongodb",
          "s3"
        ]
      }
    };
  },
  computed: {
    skillsData() {
      return [
        {
          name: "backend",
          percentage: 80,
          images: this.buildImagesArray(this.skills.backend)
        },
        {
          name: "frontend",
          percentage: 90,
          images: this.buildImagesArray(this.skills.backend)
        },
        {
          name: "devops",
          percentage: 50,
          images: this.buildImagesArray(this.skills.backend)
        },
        {
          name: "design",
          percentage: 40,
          images: this.buildImagesArray(this.skills.backend)
        }
      ];
    }
  },
  mounted() {
    this.importAll(require.context("../../public/img/techs", false, /\.png$/));
  },
  methods: {
    importAll(r) {
      let imgs = {};
      r.keys().forEach(key => {
        imgs[key] = r(key);
      });
      this.images = shuffle(imgs);
    },
    buildImagesArray(skillsArray) {
      let array = [];
      const self = this;
      skillsArray.forEach(skill => {
        const imgObj = {
          src: self.images.filter(s => s.includes(skill)),
          title: skill
        };
        array.push(imgObj);
      });
      return array;
    }
  }
};
</script>

<style lang="scss">
#skills-container {
  position: relative;
  overflow: hidden;
  padding: 4rem 0;
  background-color: $--border-color-lighter;

  #bg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    top: 0;

    figure {
      flex-grow: 1;
      opacity: 0.05;

      img {
        max-width: 150px;
        max-height: 100px;
      }
    }
  }

  .skills-grid {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: space-evenly;

    @media (max-width: $--sm) {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      grid-auto-flow: unset;
    }
  }
}
</style>
