<template>
  <div id="skills-container">
    <div class="container-title">
      <h1>Skills</h1>
    </div>
    <div class="container-grid">
      <div class="skill-area images-opened" ref="area">
        <div class="skill-content" @click="handleTextClick">
          <div class="logo">
            <img src="@/assets/img/data-storage.png" alt="backend" />
          </div>
          <div class="text">
            <h2 class="title">Backend</h2>
            <p class="action">
              <el-button round size="mini" class="button-white-transparent">
                Show More <i class="el-icon-arrow-right el-icon-right"></i>
              </el-button>
            </p>
            <div class="content">
              <ul>
                <li>
                  Use of frameworks like Django, Laravel, express.js
                </li>
                <li>API Building</li>
                <li>
                  Database modeling and implementation with MySQL, PostgreSQL,
                  MongoDB
                </li>
                <li>CDN implementation</li>
                <li>Linux management</li>
                <li>Consume of RESTful API web services</li>
                <li>oauth2</li>
                <li>
                  Payment processors integration
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="skill-images" @click="handleImagesClick">
          <div class="images-overlay"></div>
          <div
            class="image"
            v-for="image in skillsData.backend.images"
            :key="image.title"
          >
            <img :src="image.src" alt="" />
            <p>{{ image.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const shuffle = require("lodash.shuffle");

export default {
  name: "Skills",
  data() {
    return {
      images: [],
      skills: {
        backend: [
          "django",
          "laravel",
          "express",
          "google",
          "elasticsearch",
          "linux",
          "mysql",
          "postgresql",
          "mongodb",
          "s3",
          "celery"
        ]
      }
    };
  },
  computed: {
    skillsData() {
      return {
        backend: {
          images: this.buildImagesArray(this.skills.backend)
        }
      };
    }
  },
  mounted() {
    this.importAll(require.context("../../public/img/techs", false, /\.png$/));
  },
  methods: {
    importAll(r) {
      let imgs = {};
      r.keys().forEach(key => {
        imgs[key] = r(key);
      });
      this.images = shuffle(imgs);
    },
    buildImagesArray(skillsArray) {
      let array = [];
      const self = this;
      skillsArray.forEach(skill => {
        const imgObj = {
          src: self.images.filter(s => s.includes(skill)),
          title: skill
        };
        array.push(imgObj);
      });
      return array;
    },
    handleTextClick() {
      let classes = this.$refs.area.classList;
      classes.add("content-opened");
      classes.remove("images-opened");
    },
    handleImagesClick() {
      let classes = this.$refs.area.classList;
      classes.add("images-opened");
      classes.remove("content-opened");
    }
  }
};
</script>

<style scoped lang="scss">
#skills-container {
  padding: 4rem 0;
  > .container-title {
    text-align: center;
  }

  .container-grid {
    display: grid;
    grid-auto-flow: column;

    .skill-area {
      display: flex;
      flex-direction: row;
      box-shadow: $--box-shadow-1;

      .skill-content {
        background-color: $--color-primary;
        cursor: pointer;
        color: $--border-color-extra-light;
        display: flex;
        transition: all 0.5s $--bezier;
        padding: 4rem 0;
        .logo {
          justify-self: center;
          align-self: center;
          position: relative;
          left: -15%;
          transition: all 0.5s $--bezier;
          padding: 0 2rem;
          img {
            max-width: 200px;
            filter: drop-shadow(0 19px 38px rgba(0, 0, 0, 0.3));
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          transition: all 0.5s $--bezier;

          .title {
            font-size: 2rem;
            margin: 0;
            text-transform: uppercase;
          }
          .action {
            transition: all 0.5s $--bezier;
            a {
              color: $--border-color-base;
            }
          }
          .content {
            transition: all 0.5s $--bezier;
          }
        }
      }

      .skill-images {
        position: relative;
        transition: all 0.5s $--bezier;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 8rem;
        grid-gap: 4rem;
        align-items: end;

        .images-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $--border-color-extra-light;
          opacity: 0;
          transition: all 0.5s $--bezier;
        }
        .image {
          justify-self: center;
          text-align: center;
          display: grid;
          grid-template-rows: 6rem 2rem;
          align-items: center;

          img {
            width: 100%;
            max-height: 100%;
            object-fit: contain;
          }

          p {
            text-transform: uppercase;
            font-size: 0.6rem;
            font-weight: 600;
          }
        }
      }

      &.images-opened {
        .skill-content {
          width: 40%;
        }
        .skill-images {
          width: 60%;
        }
      }

      &.content-opened {
        .skill-content {
          width: 60%;

          .logo {
            left: 0;
          }

          .text {
            padding: 0 2rem;

            .title {
              justify-self: flex-start;
            }

            .action {
              display: none;
              opacity: 0;
            }

            .content {
              opacity: 1;
            }
          }
        }
        .skill-images {
          width: 40%;

          .images-overlay {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
</style>
