/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

$--color-primary: #182e6b; // #3E3EE6
$--color-success: #17bebb;
$--color-danger: #D13456; // #AF1B3F
$--background-color-base: #f5f5ff;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/common/var";
@import "~element-ui/packages/theme-chalk/src/display";

/*
Own variables
*/

$--color-white: #fafaff;
$--color-black: #02182b;
$--color-wine: #950952;
$--color-dark-gray: #3c3744;
$--color-dark-blue: #182e6b;
$--color-light-gray: #d9dbf1;
$--color-transparent: rgba(0, 0, 0, 0);

$--xs: $--sm - 1;
$top-page-height: 75vh;

/* Box Shadows */
$--box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$--box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$--box-shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$--box-shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
$--box-shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

$--bezier: cubic-bezier(0.5, 0.1, 0.1, 1);
$--drop-shadow-1: drop-shadow(0 0.1rem 0.2rem rgba(0, 0, 0, 0.5));
$--drop-shadow-2: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));

$wave-animation-duration: 30s;
$svg-width: 3000px;
$svg-left-offset: -25px;

@keyframes infiniteBounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - #{$svg-width} - #{$svg-left-offset}));
  }
  100% {
    transform: translateX(0);
  }
}
