@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700");

html,
body {
  margin: 0;
  overflow-x: hidden;
  /*max-width: 1920px;*/
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $--background-color-base;
  color: $--color-text-primary;
}

.button-white-transparent {
  background-color: transparent;
  border-color: $--border-color-extra-light;
  color: $--border-color-extra-light;

  &:hover,
  &:focus,
  &:active {
    border-color: $--border-color-base;
    color: $--color-text-primary;
  }
}

.section-container {
  .section-header {
    text-align: center;
    padding: 2rem 0;
    > .title {
      margin: 1rem 0;
      h1 {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        margin: 0;
        span {
          padding: 0 0.25rem;
          border-bottom: 0.2rem solid black;
        }
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.el-popover {
  text-align: center !important;
  word-break: break-word !important;
  max-width: 80vw !important;
  font-size: 0.8rem !important;
  z-index: 0;
}

.flickity-prev-next-button {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
