<template>
  <div id="skill-content">
    <div class="head">
      <h1>BackEnd</h1>
      <el-progress
        :show-text="false"
        :stroke-width="12"
        :percentage="70"
        color="#182e6b"
      ></el-progress>
    </div>
    <div class="content">
      <section>
        <div class="main">
          RESTful API's, data integrity and validation, architecture and design,
          server admin, performance and security approach.
        </div>
      </section>
      <section>
        <div class="title">
          <span>
            Frameworks
          </span>
        </div>
        <div class="text">
          Django, Laravel, Express.js
        </div>
      </section>
      <section>
        <div class="title">
          <span>
            Databases
          </span>
        </div>
        <div class="text">
          MySQL, PostgreSQL, MongoDB, ElasticSearch
        </div>
      </section>
      <section>
        <div class="title">
          <span>
            Others
          </span>
        </div>
        <div class="text">
          Celery, Nginx, Apache, Web Sockets, OAuth, Node.js.
        </div>
      </section>
    </div>
  </div>
</template>
