<template>
  <div id="skill-content">
    <div class="head">
      <h1>DevOps</h1>
      <el-progress
        :show-text="false"
        :stroke-width="12"
        :percentage="40"
        color="#17bebb"
      ></el-progress>
    </div>
    <div class="content">
      <section>
        <div class="main">
          Continuous deployment, unit and integration tests, monitoring tools
        </div>
      </section>
      <section>
        <div class="title">
          <span>
            Services
          </span>
        </div>
        <div class="text">
          Jenkins, CodePipeline, EC2, S3, Digital Ocean, Zeit Now
        </div>
      </section>
      <section>
        <div class="title">
          <span>
            Tools
          </span>
        </div>
        <div class="text">
          Docker, New Relic, ELK Stack, CasperJS
        </div>
      </section>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#skill-content {
  .head {
    h1 {
      margin-top: 0;
    }
  }
}
</style>
