<template>
  <div id="skill-content">
    <div class="head">
      <h1>FrontEnd</h1>
      <el-progress
        :show-text="false"
        :stroke-width="12"
        :percentage="90"
        color="#D13456"
      ></el-progress>
    </div>
    <div class="content">
      <section>
        <div class="main">
          Web Components, responsive design, CSS animations, optimization, SEO
          friendly, UX/UI.
        </div>
      </section>
      <section>
        <div class="title">
          <span>
            Frameworks & Libraries
          </span>
        </div>
        <div class="text">
          Vue.js, Backbone.js, jQuery
        </div>
      </section>
      <section>
        <div class="title">
          <span>
            UI Kits
          </span>
        </div>
        <div class="text">
          Bootstrap, Element UI, Bulma, Foundation
        </div>
      </section>
      <section>
        <div class="title">
          <span>
            Others
          </span>
        </div>
        <div class="text">
          Webpack, Nuxt, Vuex, PostCSS, Sass, Stylus, React.js, Adobe Xd
        </div>
      </section>
    </div>
  </div>
</template>
