<template>
  <div id="other-skills" data-aos="fade-in" data-aos-delay="1000">
    <div class="head">
      <h2>Others</h2>
    </div>
    <div class="content">
      <el-row type="flex" justify="center">
        <el-col :md="12" :lg="8" :xl="6">
          <div id="images-container">
            <el-tooltip
              v-for="tech in techs"
              :key="tech"
              :content="tech"
              placement="top"
              effect="dark"
            >
              <img
                :src="require(`@/assets/img/techs/${tech}.png`)"
                :alt="tech"
              />
            </el-tooltip>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "OtherSkills",
  data() {
    return {
      techs: [
        "c",
        "babel",
        "eslint",
        "prettier",
        "github",
        "gitlab",
        "bitbucket",
        "npm",
        "yarn",
        "grunt",
        "vscode",
        "jira",
        "clickup",
        "slack",
        "drive"
      ]
    };
  }
};
</script>

<style scoped lang="scss">
#other-skills {
  .head {
    text-align: center;
  }

  #images-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    justify-items: center;
    justify-content: center;
    grid-gap: 2rem;
    padding: 2rem;
    transition: all 0.5s ease;

    img {
      position: relative;
      align-self: center;
      max-width: 2rem;
      max-height: 1.5rem;
      margin: 20px;
      opacity: 0.75;
      cursor: pointer;
      &:hover {
        opacity: 1 !important;
      }
    }
  }
}
</style>
