<template>
  <el-row
    id="skill-item"
    type="flex"
    justify="center"
    :class="[skill.name.toLowerCase()]"
    data-aos="fade-in"
    data-aos-delay="500"
  >
    <el-col :md="12" :lg="8" :xl="6">
      <backend-skill v-if="skill.name === 'backend'" />
      <frontend-skill v-else-if="skill.name === 'frontend'" />
      <devops-skill v-else-if="skill.name === 'devops'" />
    </el-col>
    <el-col id="images-container" :md="12" :lg="8" :xl="6">
      <el-tooltip
        v-for="tech in skill.techs"
        :key="tech"
        :content="tech"
        placement="bottom"
        effect="dark"
      >
        <img :src="require(`@/assets/img/techs/${tech}.png`)" :alt="tech" />
      </el-tooltip>
    </el-col>
  </el-row>
</template>

<script>
import BackendSkill from "./BackendSkill";
import FrontendSkill from "./FrontendSkill";
import DevopsSkill from "./DevopsSkill";
export default {
  name: "SkillItem",
  components: {
    BackendSkill,
    FrontendSkill,
    DevopsSkill
  },
  props: {
    skill: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped lang="scss">
#skill-item {
  max-width: 1920px;
  color: $--color-text-regular;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;

  /deep/ #skill-content {
    display: grid;
    align-content: center;
    padding: 2rem;
    .head {
      transition: all 0.5s ease;
      color: $--color-text-regular;
      h1 {
        font-weight: 700;
        font-size: 1.75rem;
        letter-spacing: 0.05rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
      }
    }

    .content {
      section {
        transition: all 0.5s ease;
        margin: 1rem 0;
        .main {
          font-size: 1.2rem;
        }
        .title {
          font-weight: 600;
        }
        .text {
          font-size: 0.8rem;
        }
      }
    }

    @media (max-width: $--sm) {
      padding: 0.5rem;
    }
  }

  #images-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    grid-auto-rows: minmax(50px, 100px);
    justify-items: center;
    align-content: space-around;
    grid-gap: 2rem;
    padding: 2rem;
    background-color: $--color-white;
    border: 1px solid $--border-color-light;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
    opacity: 0.75;

    img {
      position: relative;
      align-self: center;
      max-width: 100%;
      max-height: 100%;
    }

    &:hover {
      opacity: 1 !important;
    }
  }

  &:hover {
    /deep/ #skill-content {
      section {
        color: $--color-text-primary;
      }
    }

    #images-container {
      opacity: 0.5;
    }
  }

  @media (max-width: $--lg) {
    color: $--color-text-primary;
  }
}
</style>
