<template>
  <div id="skills-menu">
    <el-row type="flex" justify="center">
      <el-col v-for="skill in skills" :key="skill.id" :span="4">
        {{ skill.name }}
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: "SkillsMenu",
  props: {
    skills: {
      type: Object
    }
  }
};
</script>

<style scoped lang="scss">
#skills-menu {
  /deep/ .el-row {
    .el-col {
      text-align: center;
      text-transform: uppercase;
    }
  }
}
</style>
