<template>
  <footer id="footer">
    <div class="wave">
      <wave class="wave" />
    </div>
    <div class="content">
      <div class="title">
        <h2>Let's contact !</h2>
      </div>
      <div class="text">
        <p>Juan Carlos Navarrete</p>
        <p>
          <a href="mailto:jankrloz.navarrete@gmail.com">
            <i class="el-icon-message"></i
            >&nbsp;&nbsp;jankrloz.navarrete@gmail.com
          </a>
        </p>
        <p>
          <a href="tel:+525527679279">
            <i class="el-icon-phone"></i>&nbsp;&nbsp;+52 55 2767 9279
          </a>
        </p>
        <p><i class="el-icon-location"></i>&nbsp;&nbsp;Mexico City, MX</p>
        <social-container></social-container>
        <p>
          <a
            :href="`${publicPath}docs/resume-juan-carlos-navarrete.pdf`"
            target="_blank"
          >
            <i class="el-icon-download"></i>&nbsp;&nbsp;Download Resume.pdf
          </a>
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
import Wave from "@/assets/svg/SubDarkWave.svg";
import SocialContainer from "@/components/About/social/SocialContainer";
export default {
  name: "DarkFooter",
  components: {
    Wave,
    SocialContainer
  },
  data() {
    return {
      publicPath: process.env.BASE_URL
    };
  }
};
</script>

<style lang="scss" scoped>
#footer {
  position: relative;
  color: $--color-white;
  .wave {
    position: absolute;
    top: -134px;

    svg {
      top: 0;
      animation: infiniteBounce $wave-animation-duration ease-in-out infinite;
    }
  }

  .content {
    position: relative;
    background-color: $--color-black;
    padding: 4rem;
    text-align: center;
    .title {
      margin-bottom: 5rem;
    }
    .el-row {
      flex-wrap: wrap;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    @media (max-width: $--xs) {
      padding: 0.5rem;
    }
  }

  @media (max-width: $--xs) {
    font-size: 0.75rem;
  }
}
</style>
