<template>
  <header id="navbar" :class="{ scrolled }">
    <div id="navbar-brand" v-scroll-to="'#top-section'" class="navbar-item">
      <img src="../../assets/img/jc.png" alt="logo" />
    </div>
    <div id="navbar-menu" class="hidden-xs-only">
      <div v-scroll-to="'#about-section'" class="navbar-item">
        <a>About</a>
      </div>
      <div v-scroll-to="'#skills-section'" class="navbar-item">
        <a>Skills</a>
      </div>
      <div v-scroll-to="'#jobs-section'" class="navbar-item">
        <a>Work</a>
      </div>
      <div v-scroll-to="'#footer'" class="navbar-item">
        <a>Contact</a>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "NavBar",
  data() {
    return {
      scrolled: false
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      this.scrolled = window.scrollY > 80;
    }
  }
};
</script>

<style scoped lang="scss">
$--navbar-height: 80px;

#navbar {
  position: fixed;
  top: 0;
  height: $--navbar-height;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: space-around;
  align-content: center;
  z-index: 10000000;
  transition: all 0.25s $--bezier;
  background: linear-gradient(
    rgba($--color-black, 0.25),
    rgba($--color-black, 0.05)
  );

  /* TRICK: How to animate gradient transitions */
  /* https://medium.com/@dave_lunny/animating-css-gradients-using-only-css-d2fd7671e759 */
  &:before {
    background: linear-gradient(
      rgba($--color-black, 1),
      rgba($--color-black, 0.85)
    );
    content: "";
    display: block;
    position: fixed;
    left: 0;
    opacity: 0;
    top: 0;
    height: $--navbar-height;
    width: 100vw;
    z-index: 10;
    transition: opacity 0.25s;
    box-shadow: $--box-shadow-2;
  }

  &.scrolled {
    &:before {
      opacity: 1;
    }
  }

  @media (max-width: $--xs) {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  #navbar-brand {
    text-align: center;
    cursor: pointer;
    z-index: 100;
    img {
      height: 50px;
    }
  }

  #navbar-menu {
    text-align: right;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 100px));
    grid-auto-flow: column;
    justify-content: end;
    justify-items: end;
    align-content: center;
    grid-column-gap: 50px;
    z-index: 100;

    .navbar-item {
      text-transform: uppercase;
      font-size: 0.7rem;
      letter-spacing: 2px;
      cursor: pointer;
    }

    .navbar-item a {
      position: relative;
      padding: 10px;
      text-shadow: none;
      transition: all 0.3s ease;
      font-weight: 500;

      &::before,
      &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: $--color-success;
        content: "";
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateY(-10px);
      }

      &::before {
        top: 0;
        transform: translateY(-10px);
      }
      &::after {
        bottom: 0;
        transform: translateY(10px);
      }

      &:hover,
      &:focus {
        color: #fff;

        &::before,
        &::after {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}
</style>
