<template>
  <el-col :xl="5" :lg="6" :sm="12" :class="{ selected }">
    <el-popover width="320" trigger="click" @show="openItemPopover">
      <el-row slot="reference" type="flex">
        <el-col :span="8" class="icon">
          <slot name="img"></slot>
        </el-col>
        <el-col :span="16" class="title">
          <slot name="title"></slot>
        </el-col>
      </el-row>
      <slot name="text"></slot>
    </el-popover>
  </el-col>
</template>

<script>
export default {
  name: "AboutItem",
  data() {
    return {
      selected: false
    };
  },
  methods: {
    openItemPopover() {
      this.$ga.event("About", "Open item popover");
    }
  }
};
</script>
<style scoped lang="scss">
/deep/ .el-row {
  padding: 1rem 0;
  align-items: center;
  flex-wrap: wrap;
  max-height: 6rem;
  min-height: 6rem;
  transition: all 0.5s ease;
  .icon {
    transition: all 0.5s ease;

    svg {
      width: 100%;
      max-height: 4rem;
      transition: all 0.5s ease;
    }
  }

  .title {
    font-weight: 500;
    transition: all 0.5s ease;
  }

  @media (max-width: $--sm) {
    .title {
      text-decoration: underline;
    }
  }
}
</style>
