<template>
  <el-row id="main-row" type="flex" justify="center" :gutter="40">
    <about-item class="item-container">
      <template slot="img">
        <img svg-inline src="@/assets/img/icons/processor.svg" alt="" />
      </template>
      <template slot="title">
        <p>Programmer since a boy</p>
      </template>
      <template slot="text">
        <p>
          When I was 8, I had my first computer, so I spent my time trying to
          understand the awful Windows 95, and I decided to study a
          computer-related career. When I was 14, I met C language, and I did my
          first "Hello World" in Turbo C++.
        </p>
      </template>
    </about-item>
    <about-item class="item-container">
      <template slot="img">
        <img svg-inline src="@/assets/img/icons/pc.svg" alt="" />
      </template>
      <template slot="title">
        <p>passionate for new technologies</p>
      </template>
      <template slot="text">
        <p>
          From always getting the latest software versions, testing, break them,
          to read about tendencies in development, seeking for most productive
          and easy to use solutions, alternatives to be a powerful developer, is
          a must for me.
        </p>
      </template>
    </about-item>
    <about-item class="item-container">
      <template slot="img">
        <img svg-inline src="@/assets/img/icons/telescope.svg" alt="" />
      </template>
      <template slot="title">
        <p>Lifelong learning</p>
      </template>
      <template slot="text">
        <p>
          Unlike the Laplace's Demon, humans are in constant discovery of
          knowledge, we are capable to share this learning, we have the
          responsibility to do it.
        </p>
      </template>
    </about-item>
    <about-item class="item-container">
      <template slot="img">
        <img svg-inline src="@/assets/img/icons/glasses.svg" alt="" />
      </template>
      <template slot="title">
        <p>Focused on details</p>
      </template>
      <template slot="text">
        <p>
          Every human activity is improvable, searching for opportunity areas to
          profit them, including the smallest parts, to give a better solution.
        </p>
      </template>
    </about-item>
  </el-row>
</template>

<script>
import AboutItem from "./AboutItem";
export default {
  name: "AboutContent",
  components: {
    AboutItem
  }
};
</script>

<style scoped lang="scss">
#main-row {
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease;
  max-width: 1920px;
  margin: 0 auto;

  .item-container {
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
    border-bottom: 0.1rem solid transparent;

    &:hover,
    &:focus,
    &:active {
      border-color: $--color-primary;

      /deep/ svg {
        filter: $--drop-shadow-1;
      }
    }

    &.selected {
      transform: scale(1.05);
    }
  }
}
</style>
