<template>
  <job-item class="adwebsys" :logo="logo">
    <template slot="title">
      Adwebsys
    </template>
    <template slot="position">
      Front-End Developer
    </template>
    <template slot="date">
      Oct 2014 - Dec 2014 (3 months)
    </template>
    <template slot="content">
      <ul>
        <li>Front-End of web pages for clients</li>
        <li>Web layouts</li>
        <li>HTML5, CSS3, jQuery</li>
      </ul>
    </template>
  </job-item>
</template>

<script>
import JobItem from "@/components/Jobs/JobItem";
import logo from "../../assets/img/adwebsys.png";

export default {
  name: "RenkaJobItem",
  components: {
    JobItem
  },
  data() {
    return {
      logo: logo
    };
  }
};
</script>

<style lang="scss" scoped>
.adwebsys {
  $color: #00a1cb;

  /deep/ .item-node {
    &::before {
      background-color: $color !important;
    }
  }
}
</style>
