<template>
  <job-item class="dadaroom" :logo="logo">
    <template slot="title">
      Dada Room
    </template>
    <template slot="position">
      Full Stack Developer
    </template>
    <template slot="date">
      Apr 2017 - Oct 2018 (1 year, 7 months)
    </template>
    <template slot="content">
      <ul>
        <li>UX/UI adjustments and fixes</li>
        <li>User's new features</li>
        <li>Front-End speed optimization</li>
        <li>Deployment Enhancements</li>
        <li>Internal API extension</li>
        <li>Software Design</li>
        <li>Code reviews</li>
        <li>Unit and Integration testing</li>
        <li>Development of internal tools</li>
        <li>Working under SCRUM methodology</li>
      </ul>
    </template>
  </job-item>
</template>

<script>
import JobItem from "@/components/Jobs/JobItem";
import logo from "../../assets/img/dadaroom.png";

export default {
  name: "DadaroomJobItem",
  components: {
    JobItem
  },
  data() {
    return {
      logo: logo
    };
  }
};
</script>

<style lang="scss" scoped>
.dadaroom {
  $color: #f6f037;

  /deep/ .item-node {
    &::before {
      background-color: $color !important;
    }
  }
}
</style>
