<template>
  <job-item class="hsm" :logo="logo">
    <template slot="title">
      HSM
    </template>
    <template slot="position">
      Tech Support
    </template>
    <template slot="date">
      Apr 2014 - Sep 2014 (6 months)
    </template>
    <template slot="content">
      <ul>
        <li>Supervision, control of errors of the business system</li>
        <li>Supervision and maintenance of equipment</li>
        <li>Detection of operational improvements specific to the company</li>
        <li>Development and programming of business system' modules</li>
      </ul>
    </template>
  </job-item>
</template>

<script>
import JobItem from "@/components/Jobs/JobItem";
import logo from "../../assets/img/hsm.jpg";

export default {
  name: "RenkaJobItem",
  components: {
    JobItem
  },
  data() {
    return {
      logo
    };
  }
};
</script>

<style lang="scss" scoped>
.hsm {
  $color: #db9d15;

  /deep/ .item-node {
    &::before {
      background-color: $color !important;
    }
  }
}
</style>
