<template>
  <div class="job-item" @click="clickJobItem">
    <div class="item-line">
      <div class="item-tail"></div>
      <div class="item-node"></div>
    </div>
    <div class="item-wrapper">
      <div class="info">
        <img v-if="logo" class="logo" :src="logo" />
        <div class="text">
          <h2 class="title">
            <span>
              <slot name="title"></slot>
            </span>
          </h2>
          <p>
            <small>
              <b>
                <slot name="position"></slot>
              </b>
            </small>
          </p>
          <p>
            <small class="dates">
              <i>
                <slot name="date"></slot>
              </i>
            </small>
          </p>
        </div>
      </div>
      <div class="content" :class="{ collapsed: !showMoreContent }">
        <el-row>
          <el-col :span="24">
            <slot name="content"></slot>
          </el-col>
        </el-row>
      </div>
    </div>

    <div class="hover-bar">
      <template v-if="!showMoreContent">
        <i class="el-icon-arrow-down el-icon-right"></i>
      </template>
      <template v-else>
        <i class="el-icon-arrow-up el-icon-right"></i>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    logo: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      showMoreContent: false
    };
  },
  methods: {
    clickJobItem() {
      this.showMoreContent = !this.showMoreContent;
      if (this.showMoreContent) this.$ga.event("Job", "Open item content");
    }
  }
};
</script>

<style lang="scss" scoped>
$item-line-width: 8rem;
.job-item {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;

  .item-line {
    position: relative;
    width: $item-line-width;
    align-self: stretch;
    background-color: inherit !important;
    .item-tail {
      position: absolute;
      width: 0.1rem;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $--border-color-base;
    }

    .item-node {
      $node-size: 1.5rem;
      position: absolute;
      width: $node-size;
      height: $node-size;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $--color-white;
      border-radius: 50%;
      transition: all 0.5s ease;

      &::before {
        content: "";
        position: absolute;
        width: $node-size / 2;
        height: $node-size / 2;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $--color-text-placeholder !important;
        border-radius: 50%;
        border: 2px solid $--border-color-base;
        transition: all 0.5s ease;
      }
    }
  }

  .item-wrapper {
    display: flex;
    flex: 1;
    // width: 50%;
    flex-direction: column;
    padding: 2rem 0;
    align-items: flex-start;

    .info {
      display: flex;
      align-items: center;

      .logo {
        max-height: 5rem;
        width: 6rem;
        object-fit: contain;
        margin-right: 1rem;
      }
      .text {
        flex: 1;
        .title {
          margin: 0;
          span {
            transition: all 0.5s ease;
            border-bottom: 2pt solid transparent;
          }
        }
        p {
          margin: 0.5rem 0 0;
        }
      }
    }

    .content {
      transition: all 0.5s ease;
      height: auto;
      max-height: 40rem;
      margin: 2rem 0;
      font-size: 0.85rem;
      font-weight: 500;

      /deep/ ul {
        line-height: 1.25rem;
      }

      &.collapsed {
        max-height: 0;
        margin: 0;
        opacity: 0;
      }
    }
  }

  .hover-bar {
    position: absolute;
    bottom: 0;
    text-align: center;
    // padding: 0.5rem 0;
    width: 100%;
    font-size: 1.25rem;
    opacity: 0;
    transition: all 0.5s ease;
  }

  &:hover {
    .item-node {
      $node-size: 2.5rem;
      width: $node-size;
      height: $node-size;

      &::before {
        width: $node-size / 2;
        height: $node-size / 2;
      }
    }

    .item-wrapper {
      .title {
        span {
          border-color: $--color-text-primary !important;
        }
      }
    }

    .hover-bar {
      opacity: 1;
    }
  }

  @media (max-width: $--md) {
    padding: 0 2rem;

    .item-line {
      display: none;
    }
  }

  @media (max-width: $--sm) {
    padding: 0 0.5rem;

    .item-wrapper {
      align-items: center;
      .info {
        flex-direction: column;
        .text {
          text-align: center;
          padding: 0 1rem;

          .title {
            span {
              border-color: $--color-text-primary !important;
            }
          }
        }

        .logo {
          margin: 0;
        }
      }
    }

    .content {
      padding-left: 0;
    }

    .hover-bar {
      opacity: 1;
    }
  }
}
</style>
