<template>
  <job-item class="dadaroom" :logo="logo">
    <template slot="title"
      >Konfio</template
    >
    <template slot="position"
      >Full Stack Developer</template
    >
    <template slot="date"
      >Jun 2019 - present ({{ getTimeDiffFromNow }})</template
    >
    <template slot="content">
      <ul>
        <li>Operations Squad</li>
        <li>KYC Process Automation</li>
        <li>New Front-end Architecture proposal</li>
        <li>Support for backoffice application</li>
        <li>Formal Scrum Methodology</li>
      </ul>
    </template>
  </job-item>
</template>

<script>
const moment = require("moment");
import JobItem from "@/components/Jobs/JobItem";
import logo from "../../assets/img/konfio.png";

moment().format();

export default {
  name: "KonfioJobItem",
  components: {
    JobItem
  },
  data() {
    return {
      logo: logo
    };
  },
  computed: {
    getTimeDiffFromNow() {
      var start = new moment();
      var end = new moment("2019-06-03");
      return moment.duration(start.diff(end)).humanize();
    }
  }
};
</script>

<style lang="scss" scoped>
.dadaroom {
  $color: #f6f037;

  /deep/ .item-node {
    &::before {
      background-color: $color !important;
    }
  }
}
</style>
