<template>
  <job-item class="renka" :logo="logo">
    <template slot="title">
      Renka
    </template>
    <template slot="position">
      Full Stack Developer
    </template>
    <template slot="date">
      Apr 2015 - Aug 2016 (1 year, 5 months)
    </template>
    <template slot="content">
      <ul>
        <li>Front-End architecture</li>
        <li>UX/UI improvements</li>
        <li>Continuous proposal for new product features</li>
        <li>Backend code improvements</li>
        <li>Database definition and modeling</li>
        <li>Working under SCRUM methodology</li>
      </ul>
    </template>
  </job-item>
</template>

<script>
import JobItem from "@/components/Jobs/JobItem";
import logo from "../../assets/img/renka.png";

export default {
  name: "RenkaJobItem",
  components: {
    JobItem
  },
  data() {
    return {
      logo: logo
    };
  }
};
</script>

<style lang="scss" scoped>
.renka {
  $color: #3632e4;

  /deep/ .item-node {
    &::before {
      background-color: $color !important;
    }
  }
}
</style>
