<template>
  <job-item class="hsm" :logo="logo">
    <template slot="title">
      TechLatam
    </template>
    <template slot="position">
      Tech Support
    </template>
    <template slot="date">
      Jan 2012 - Dec 2012 (1 year)
    </template>
    <template slot="content">
      <ul>
        <li>
          Advisor in support of clients for Windows and Linux, both private and
          business
        </li>
        <li>
          Installation of physical services such as structured cabling and
          computer equipment
        </li>
        <li>
          Software installation services and management of servers and databases
        </li>
      </ul>
    </template>
  </job-item>
</template>

<script>
import JobItem from "@/components/Jobs/JobItem";
import logo from "../../assets/img/techlatam.jpg";

export default {
  name: "RenkaJobItem",
  components: {
    JobItem
  },
  data() {
    return {
      logo
    };
  }
};
</script>

<style lang="scss" scoped>
.hsm {
  $color: #f2a021;

  /deep/ .item-node {
    &::before {
      background-color: $color !important;
    }
  }
}
</style>
