<template>
  <div id="about-section" class="section-container">
    <div class="section-header" data-aos="fade" data-aos-delay="250">
      <div class="title">
        <h1><span>about me</span></h1>
      </div>
      <p>
        Studies in Computer Engineering at IPN ESCOM (90%)
      </p>
    </div>
    <div class="content" data-aos="fade" data-aos-delay="500">
      <about-content />
    </div>
    <el-row type="flex" justify="center">
      <el-col :md="16" :lg="8">
        <blockquote class="blockquote" data-aos="fade" data-aos-delay="500">
          <p>
            Once you stop learning, you start dying.
          </p>
          <i> - Albert Einstein</i>
        </blockquote>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import AboutContent from "./About/AboutContent";

export default {
  name: "AboutSection",
  components: {
    AboutContent
  }
};
</script>

<style scoped lang="scss">
#about-section {
  .content {
    border-top: 1px solid $--border-color-base;
    border-bottom: 1px solid $--border-color-base;
    background-color: $--color-white;
    display: flex;
    justify-content: center;
  }

  .blockquote {
    padding: 4rem 0.5rem;
    margin: 0 auto;
    position: relative;
    text-align: center;

    p {
      font-size: 35px;
      font-weight: 300;
    }

    &:before {
      background: url(../assets/img/quote-left.png) no-repeat center;
      background-size: contain;
      position: absolute;
      top: 4rem;
      left: 10px;
      content: "";
      width: 100px;
      height: 100px;
      opacity: 0.1;
    }

    &::after {
      content: "";
      top: 4rem;
      left: 50%;
      margin-left: -100px;
      position: absolute;
      border-bottom: 3px solid $--color-success;
      height: 3px;
      width: 200px;
    }
  }
}
</style>
