<template>
  <div id="jobs-section" class="section-container">
    <div class="section-header">
      <div class="title">
        <h1>
          <span>work experience</span>
        </h1>
      </div>
    </div>
    <el-row type="flex" justify="center" class="jobs-container">
      <el-col :md="20" :lg="16" :xl="12" class="content">
        <konfio-job-item />
        <dadaroom-job-item />
        <renka-job-item />
        <adwebsys-job-item />
        <hsm-job-item />
        <techlatam-job-item />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import DadaroomJobItem from "@/components/Jobs/DadaroomJobItem";
import RenkaJobItem from "@/components/Jobs/RenkaJobItem";
import AdwebsysJobItem from "@/components/Jobs/AdwebsysJobItem";
import HsmJobItem from "@/components/Jobs/HsmJobItem";
import TechlatamJobItem from "@/components/Jobs/TechlatamJobItem";
import KonfioJobItem from "@/components/Jobs/KonfioJobItem";

export default {
  name: "JobsSection",
  components: {
    DadaroomJobItem,
    RenkaJobItem,
    AdwebsysJobItem,
    HsmJobItem,
    TechlatamJobItem,
    KonfioJobItem
  }
};
</script>

<style lang="scss" scoped>
#jobs-section {
  .jobs-container {
    background-color: $--color-white;
    box-shadow: $--box-shadow-light;
  }
}
</style>
