<template>
  <div id="projects-section" class="section-container">
    <div class="section-header">
      <div class="title">
        <h1>
          <span>Projects</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="wave">
        <wave />
      </div>
      <div class="content">
        <projects-container />
        <carousel :images="images" />
      </div>
    </div>
  </div>
</template>

<script>
import ProjectsContainer from "@/components/Projects/ProjectsContainer";
import Wave from "@/assets/svg/SubRedWave.svg";

const shuffle = require("lodash.shuffle");
export default {
  name: "ProjectSection",
  components: {
    ProjectsContainer,
    Wave
  },
  data() {
    return {
      images: []
    };
  },
  mounted() {
    this.importAll(
      require.context("../assets/img/screenshots", false, /\.jpg$/)
    );
  },
  methods: {
    importAll(r) {
      let imgs = {};
      r.keys().forEach(key => {
        imgs[key] = r(key);
      });
      this.images = shuffle(imgs);
    }
  }
};
</script>

<style lang="scss" scoped>
#projects-section {
  .section-header {
    padding-bottom: 0;
  }
  .container {
    .wave {
      top: -152px;
      transform: rotateX(180deg);

      svg {
        animation: infiniteBounce $wave-animation-duration ease-in-out infinite;
      }
    }

    .content {
      position: relative;
      top: -2px;
      background-color: #af1b3f;
      padding: 2rem 0;
      box-sizing: border-box;

      .carousel {
        padding: 2rem 0 5rem;
        &:not(.is-fullscreen) {
          margin: 2rem 0;
        }
      }
    }
  }
}
</style>
