<template>
  <div id="skills-section" class="section-container">
    <div class="section-header" data-aos="fade">
      <div class="title">
        <h1><span>skills</span></h1>
      </div>
    </div>
    <div class="content">
      <skill-item v-for="skill in skills" :key="skill.id" :skill="skill" />
      <!-- <other-skills></other-skills> -->
    </div>
  </div>
</template>

<script>
import SkillItem from "./Skills/SkillItem";

export default {
  name: "SkillsSection",
  components: {
    SkillItem
  },
  data() {
    return {
      images: [],
      skills: {
        backend: {
          name: "backend",
          id: 0,
          techs: [
            "django",
            "laravel",
            "express",
            "mysql",
            "postgresql",
            "elastic",
            "google",
            "mongodb",
            "node",
            "python",
            "rest",
            "celery",
            "nginx",
            "apache",
            "redis"
          ]
        },
        frontend: {
          name: "frontend",
          id: 1,
          techs: [
            "vue",
            "sass",
            "webpack",
            "backbone",
            "bootstrap",
            "element",
            "foundation",
            "jquery",
            "nuxt",
            "postcss",
            "react",
            "stylus",
            "bulma",
            "web",
            "xd"
          ]
        },
        devops: {
          name: "devops",
          id: 2,
          techs: [
            "linux",
            "aws",
            "docker",
            "jenkins",
            "newrelic",
            "casperjs",
            "s3",
            "ec2",
            "digitalocean",
            "now"
          ]
        }
      }
    };
  }
};
</script>

<style scoped lang="scss">
#skills-section {
  .content {
    top: -36px;
    position: relative;
  }
}
</style>
