<template>
  <div id="top-section">
    <nav-bar />
    <top-waves />
    <vue-particles
      ref="particles"
      color="#17bebb"
      lines-color="#17bebb"
      :particle-opacity="0.25"
      :particles-number="40"
      :particle-size="2.5"
      :line-opacity="0.125"
      :lines-distance="175"
    />
    <top-info />
  </div>
</template>

<script>
import NavBar from "./Layout/NavBar";
import TopWaves from "./Top/TopWaves";
import TopInfo from "./Top/TopInfo";

export default {
  name: "TopSection",
  components: {
    NavBar,
    TopWaves,
    TopInfo
  }
};
</script>

<style scoped lang="scss">
#top-section {
  position: relative;
  color: $--color-white;
  width: 100vw;
  height: $top-page-height;
  overflow: hidden;
  z-index: 1;

  .particles-js,
  #particles-js {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80%;
  }

  @media (max-width: $--xs) {
    height: 92.5vh;
  }
}
</style>
