<template>
  <el-tooltip :content="icon.name" placement="bottom" effect="dark">
    <a :href="icon.href" target="_blank">
      <component :is="icon.svg"></component>
    </a>
  </el-tooltip>
</template>

<script>
export default {
  name: "SocialIcon",
  props: {
    icon: {
      type: Object,
      required: true,
      validator(v) {
        return (
          v.hasOwnProperty("name") &&
          v.hasOwnProperty("href") &&
          v.hasOwnProperty("svg") &&
          typeof v.svg === "object"
        );
      }
    }
  }
};
</script>

<style scoped lang="scss">
a {
  margin: 0 1rem;
  svg {
    height: 1.75rem;
    transition: all 0.5s ease;
  }

  &:hover {
    svg {
      filter: $--drop-shadow-2;
    }
  }
}
</style>
