<template>
  <div class="social">
    <social-icon
      v-for="icon in social"
      :key="icon.name"
      :icon="icon"
    ></social-icon>
  </div>
</template>

<script>
import SocialIcon from "./SocialIcon";
import gitlab_svg from "@/assets/img/social/gitlab.svg";
import github_svg from "@/assets/img/social/github.svg";
import linkedin_svg from "@/assets/img/social/linkedin.svg";
import twitter_svg from "@/assets/img/social/twitter.svg";

export default {
  name: "SocialContainer",
  components: {
    SocialIcon
  },
  data() {
    return {
      social: [
        {
          name: "gitlab",
          svg: gitlab_svg,
          href: "https://gitlab.com/jankrloz"
        },
        {
          name: "github",
          svg: github_svg,
          href: "https://github.com/jankrloz"
        },
        {
          name: "linkedin",
          svg: linkedin_svg,
          href: "https://www.linkedin.com/in/jankrloz/"
        },
        {
          name: "twitter",
          svg: twitter_svg,
          href: "https://www.twitter.com/jankrloz/"
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  z-index: 1;
  position: relative;
}
</style>
