<template>
  <div id="top-info">
    <div class="main-text">
      <div class="icon hidden-sm-and-down" data-aos="fade" data-aos-delay="250">
        <img src="../../assets/img/code.png" alt="code" />
      </div>
      <h1 class="name" data-aos="fade">
        <strong>Hi!</strong> I'm <span>Juan Carlos</span>
      </h1>
      <p class="descr" data-aos="fade-" data-aos-delay="500">
        Software Engineer
      </p>
      <social-container data-aos="fade" data-aos-delay="750"></social-container>
      <!--      <p class="descr" data-aos="fade" data-aos-delay="200">-->
      <!--        +3 years exp-->
      <!--      </p>-->
    </div>
  </div>
</template>

<script>
import SocialContainer from "@/components/About/social/SocialContainer";
export default {
  name: "TopInfo",
  components: {
    SocialContainer
  }
};
</script>

<style scoped lang="scss">
#top-info {
  position: relative;
  width: 100%;
  top: 80px;
  display: grid;
  height: calc(100% - 200px);
  align-content: center;
  justify-content: center;
  justify-items: center;

  .main-text {
    display: grid;
    grid-row-gap: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    align-self: center;

    .name {
      font-size: 2.5rem;
      font-weight: 100;
      margin: 0;
      word-spacing: 4px;
      letter-spacing: 1px;

      span {
        font-weight: 300;
        color: $--color-success;
      }
    }

    .icon {
      margin: 0;
      img {
        width: 75px;
        opacity: 0.75;
      }
    }

    .descr {
      font-size: 1.125rem;
      font-weight: 600;
      margin: 0;

      @media (max-width: $--sm) {
        font-size: 1rem;
      }
    }
  }
}
</style>
