<template>
  <div id="waves">
    <!--<Waves />-->
    <div id="green-wave" class="wave">
      <green-wave></green-wave>
    </div>
    <div id="blue-wave" class="wave">
      <blue-wave></blue-wave>
    </div>
    <div id="purple-wave" class="wave">
      <purple-wave></purple-wave>
    </div>
  </div>
</template>

<script>
import BlueWave from "../../assets/svg/BlueWave.svg";
import PurpleWave from "../../assets/svg/DarkWave.svg";
import GreenWave from "../../assets/svg/GreenWave.svg";

export default {
  name: "TopWaves",
  components: {
    BlueWave,
    PurpleWave,
    GreenWave
  }
};
</script>

<style scoped lang="scss">
#waves {
  position: absolute;
  width: 100%;
  height: 100%;
  .wave {
    position: absolute;
    left: $svg-left-offset;
    bottom: 0;
    z-index: -1;

    svg {
      animation: infiniteBounce $wave-animation-duration ease-in-out infinite;
    }
  }

  #blue-wave {
    svg {
      animation-duration: $wave-animation-duration * 0.8 !important;
    }
  }
  #green-wave {
    svg {
      animation-duration: $wave-animation-duration * 0.7 !important;
    }
  }
}
</style>
