<template>
  <transition name="fade">
    <div v-if="!fullscreenLoading" id="app">
      <top ref="top" />
      <about />
      <skills />
      <jobs />
      <projects />
      <dark-footer />
    </div>
  </transition>
</template>

<script>
import { Loading } from "element-ui";

import aos from "./plugins/aos.js";

import Top from "@/components/TopSection";
import About from "@/components/AboutSection";
import Skills from "@/components/SkillsSection";
import Jobs from "@/components/JobsSection";
import Projects from "@/components/ProjectsSection";
import DarkFooter from "@/components/Layout/DarkFooter";

export default {
  name: "App",
  components: {
    Top,
    About,
    Skills,
    Jobs,
    Projects,
    DarkFooter
  },
  data() {
    return {
      fullscreenLoading: true, // Initial loading animation
      loadingInstance: null
    };
  },
  created() {
    if (this.fullscreenLoading) {
      this.loadingInstance = Loading.service({ fullscreen: true, lock: true });
    }
  },
  mounted() {
    window.addEventListener("load", async () => {
      if (this.fullscreenLoading) {
        await this.hideFullscreenLoading();
      }

      aos.AOS.init(aos.config);
      this.$refs["top"].$refs["particles"].reload();

      // Feature detects Navigation Timing API support.
      if (window.performance) {
        // Gets the number of milliseconds since page load
        // (and rounds the result since the value must be an integer).
        var timeSincePageLoad = Math.round(performance.now());

        // Sends the timing hit to Google Analytics.
        this.$ga.time("Load", "ready", timeSincePageLoad);
      }
    });

    this.track();
  },
  methods: {
    async hideFullscreenLoading() {
      this.loadingInstance.close();
      this.fullscreenLoading = false;
    },
    track() {
      this.$ga.page("/");
    }
  }
};
</script>

<style lang="scss" scoped></style>
