<template>
  <div id="projects-carousel" class="carousel">
    <div v-for="img in images" :key="img" class="cell">
      <img :data-flickity-lazyload-src="img" />
    </div>
  </div>
</template>

<script>
import Flickity from "flickity-fullscreen";

export default {
  name: "Gallery",
  props: {
    options: {
      type: Object,
      default: () => {}
    },
    images: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      flickity: null
    };
  },
  mounted() {
    this.init();
  },
  methods: {
    async init() {
      let self = this;
      await this.$nextTick();
      this.flickity = new Flickity("#projects-carousel", {
        imagesLoaded: true,
        lazyLoad: 2,
        wrapAround: true,
        fullscreen: true,
        pageDots: false,
        cellSelector: ".cell",
        freeScroll: false,
        autoPlay: 2000,
        on: {
          staticClick() {
            self.flickity.viewFullscreen();
          },
          fullscreenChange(isFullscreen) {
            if (isFullscreen) self.$ga.event("Carousel", "Open fullscreen");
          }
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~flickity/dist/flickity.min.css";
@import "~flickity-fullscreen/fullscreen.css";

#projects-carousel {
  overflow: hidden;
  .cell {
    width: 20%;
    height: 12rem;
    padding: 0.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.4s;
      opacity: 0;
      box-shadow: $--box-shadow-2;

      &.flickity-lazyloaded,
      &.flickity-lazyerror {
        opacity: 1;
      }
    }
  }

  &.is-fullscreen {
    z-index: 2;
    .cell {
      width: 75%;
      height: 100%;

      img {
        object-fit: contain;
        box-shadow: none;
      }
    }
  }

  @media (max-width: $--md) {
    .cell {
      width: 75%;
    }

    &.is-fullscreen {
      .cell {
        width: 90%;
      }
    }
  }
}
</style>
