<template>
  <hr />
</template>

<script>
export default {
  name: "Separator",
  props: {
    anim: Boolean
  }
};
</script>

<style scoped lang="scss">
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    $--color-text-secondary,
    $--background-color-base,
    $--color-text-secondary,
    rgba(255, 255, 255, 0)
  );
}
</style>
